<div id="modal-feedback" [ngClass]="{ 'success': type === 'success', 'error': type === 'error' }">
    <div class="m-header">
        <button type="button" class="close close-button" aria-label="Close" (click)="modalService.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="m-body">
        <div class="message">{{ message }}</div>
        <div class="d-flex justify-content-center mt-3">
            <button class="button-ok" (click)="modalService.hide()">Entendi</button>
        </div>
    </div>
</div>
