@import "../../../assets/variables";

#modal-feedback {
    background-color: $light_gray;
    .m-header {
        position: relative;
        
        .close-button {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .m-body {
        padding: 30px 20px 20px;

        .message {
            font-size: 20px;
            font-family: Mulish;
            color: $white;
        }

        .button-ok {
            border: none;
            color: $white;
            background-color: $yellow;
            height: 30px;
            width: 120px;
        }
    }

    &.success {
        background-color: $success_feedback;
    }
    
    &.error {
        background-color: $error_feedback;
    }
}