<div class="app">

  <!-- Menu -->
  <menu></menu>
  <!-- Menu -->

  <!-- Páginas -->
  <main>
    <router-outlet></router-outlet>
  </main>
  <!-- Páginas -->

  <!-- Footer -->
  <footer></footer>
  <!-- Footer -->
</div>


<!-- Modal -->
<ng-template #modalTemplate>
  <modal-login *ngIf="dataModal.modalName === 'loginModal'" [loginType]="dataModal.loginType"></modal-login>
  <modal-confirm *ngIf="dataModal.modalName === 'confirmModal'"></modal-confirm>
  <modal-reserve *ngIf="dataModal.modalName === 'reserveModal'" [choosedDay]="dataModal.choosedDay"
    [establishment]="dataModal.establishment" [openTime]="dataModal.openingTime" [closeTime]="dataModal.closingTime">
  </modal-reserve>
  <modal-feedback *ngIf="dataModal.modalName === 'feedbackModal'" [type]="dataModal.type" [message]="dataModal.message">
  </modal-feedback>
</ng-template>
<!-- Modal -->
