<div class="page">
    <div style="overflow:hidden;"class="container-fluid">
    <div class="section-1">
        <div class="row featurette">
            <div class="col-md-7 order-md-7">
                <h6>SOBRE</h6>
                <br />
                <h2 class="featurette-heading margin-right" style="font-size: 45px; color: #373F41"> Garanta sua reserva
                    antes de sair de casa.</h2>
                <p class="lead" style="font-size: 18px;">
                    Evite ficar em filas e saiba o quão ocupado está o local antes mesmo de sair de casa. Aqui é possível
                    conhecer o local, ver fotos, saber a quantidade de mesas disponíveis e muito mais.
                </p>
                <br />
                <button onclick="window.location.href = './login'" type="button"  class="btn btn-outline-dark">Boa ideia! Vamos lá!</button>
                <br />
            </div>
            <div class="col-md-4 order-md-1">
                <div class="primeiraimg">
                    <img style="position: absolute; top: 145px; bottom: 1200px; left: 30px; width: 440px; height: 440px;"
                        src="../../assets/images/home/fundo.png" />
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        style="position: relative;" src="../../assets/images/home/imghome.png" alt="Comida" />
    
                </div>
    
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="row featurette">
            <div class="col-md-7 order-md-1">
                <br />
                <h4 class="display-2" style="color: #373F41;">Reserve sua mesa no <br>estabelecimento mais vazio e
                    próximo a você</h4>
    
                <br />
    
                <div class="row mx-md-n5">
                    <div class="col py-3 px-md-5"><img src="../../assets/images/home/bell.png" alt=""></div>
    
                    <div class="col py-3 px-md-5"><img src="../../assets/images/home/clipboard.png" alt=""></div>
                </div>
                <div class="row mx-md-n5">
                    <div class="col py-3 px-md-5 text-muted">Reserve uma mesa sem precisar sair de casa e evite filas
                        indesejáveis.</div>
                    <div class="col py-3 px-md-5 text-muted">Acompanhe em tempo real a capacidade de mesas ocupadas no
                        estabelecimento.</div>
                </div>
                <div class="row mx-md-n5">
                    <div class="col py-3 px-md-5 "><img src="../../assets/images/home/smile-mouth-open.png" alt=""></div>
                    <div class="col py-3 px-md-5 "><img src="../../assets/images/home/bookmark.png" alt=""></div>
                </div>
                <div class="row mx-md-n5">
                    <div class="col py-3 px-md-5 text-muted">Fácil de usar e simples de se localizar. Faça sua reserva de
                        qualquer lugar que estiver.</div>
                    <div class="col py-3 px-md-5 text-muted">Avalie o estabelecimento, conheça os melhores restaurantes e
                        contribua com outros usuários através da sua experiência no local.</div>
                </div>
            </div>
            <div class="col-md-4 order-md-1">
                <img style="position: absolute; top: 0px; bottom: 1200px; left: 50px; width: 440px; height: 440px; margin: 87px 40px 0px 50px"
                   class="fundo" src="../../assets/images/home/fundo2.svg" />
    
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="position:relative; top: 0px; bottom: 400px;
                left: 5px; width: 445px; height: 560px;" class="img-mapa" src="../../assets/images/home/Capturarmaps 1.svg"
                    alt="Comida" />
    
            </div>
    
        </div>
    
    </div>
    <div class="section-3">
            <div id="top-food">
            <h1 style=" margin-left: 130px;">Comida de todos os tipos</h1>
                <div class="carousel">
                    <div #slide class="slide">
                        <div class="elements-scroll">
                            <div #element class="typefood">
                                <img src="../../assets/images/home/carrossel/frango.svg"class="img-typefood">
                                <img src="../../assets/images/home/carrossel/mexicana.svg"class="img-typefood">
                                <img src="../../assets/images/home/carrossel/massas.svg"class="img-typefood">
                                <img src="../../assets/images/home/carrossel/japonesa.svg"class="img-typefood">
                                <img src="../../assets/images/home/carrossel/hamburguer.svg"class="img-typefood">
                                <img src="../../assets/images/home/carrossel/pizza.svg"class="img-typefood">
                                <img src="../../assets/images/home/carrossel/saladas.svg" class="img-typefood">
                                <img src="../../assets/images/home/carrossel/peixe.svg" class="img-typefood">
                                <img src="../../assets/images/home/carrossel/salgados.svg" class="img-typefood">
                                <img src="../../assets/images/home/carrossel/vegetariano.svg" class="img-typefood">
                                <img src="../../assets/images/home/carrossel/rosquinha.svg" class="img-typefood">
                                <img src="../../assets/images/home/carrossel/batata frita.svg"class="img-typefood">
                                
                                </div>
                        </div>
                    <!-- </div> -->
            
                    <a (click)="navigateCarousel('prev')" class="control left d-none d-lg-flex">
                        <img src="../../assets/icons/svg/arrow-left.svg">
                    </a>
                    
                    <a (click)="navigateCarousel('next')" class="control right d-none d-lg-flex">
                        <img src="../../assets/icons/svg/arrow-right.svg">
                    </a>
                </div>
            </div>  
        </div>
    </div>
    </div>
    </div>