$light_blue: #f3f6fa;
$white: #ffffff;
$gray: #c4c4c42e;
$light_orange: #f2994a;
$beige: #A86404;
$light_gray: #65635F;
$yellow: #FB9C05;

$footer_bg: #fff9f0;
$gray_text: #8692A6;
$black_text: #373F41;
$blue_hover: #F5F9FF;
$field_border: #8d98ab;
$input_color: #FBFBFB;
$error_feedback: #f44336;
$calendar_color: #F2F2F2;

$headerHeight: 91px;
$footerHeight: 77px;
