<nav id="menu" class="navbar navbar-expand-lg navbar-light">
    <div class="container-xl">
        <!--Logo-->
        <a class="navbar-brand logo" [routerLink]="routes.ABOUT">
            <img class="img image" src="../../assets/images/logo/logo.png" alt="logo">
        </a>
        <!--Logo-->

        <!-- Abrir/Fechar Menu -->
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler border-0" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseBasic" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Abrir/Fechar Menu -->

        <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <!-- Itens do Menu Não Logado-->
            <div *ngIf="!authenticated" class="navbar-collapse">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <li class="nav-item text-center">
                        <a class="nav-link menu-item" (click)="closeMenu()" [routerLink]="routes.ABOUT">Sobre</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link menu-item" (click)="closeMenu()"
                            [routerLink]="routes.REGISTER_ESTABLHISHMENT">Cadastrar Meu Estabelecimento</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link menu-item" (click)="closeMenu()" href="#">Contato</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link menu-item" (click)="closeMenu()" href="#">Ajuda</a>
                    </li>
                </ul>

                <!-- Botões -->
                <div class="action-buttons d-block d-lg-flex">
                    <button class="login mx-auto" (click)="closeMenu()" [routerLink]="routes.LOGIN">Fazer o
                        Login</button>
                    <button [routerLink]="routes.REGISTER_CLIENT" (click)="closeMenu()" class="register">Cadastre-se</button>
                </div>
                <!-- Botões -->
            </div>
            <!-- Itens do Menu Não Logado -->

            <!-- Itens do Menu Logado -->
            <div *ngIf="authenticated" class="navbar-nav mx-auto mt-2 mt-lg-0 d-lg-none d-flex">
                <menu-logged (closeMenu)="closeMenu()"></menu-logged>
            </div>
            <!-- Itens do Menu Logado -->
        </div>

        <!-- Botão Quando Autenticado -->
        <div *ngIf="authenticated && user" [routerLink]="getEditRoute()" class="d-none d-lg-flex name-button" type="button">
            <div class="name">{{ typeMenu === 'est' ? user.restaurantName : user.name }}</div>
            <img class="icon" [src]="typeMenu === 'est' ? 'data:image/png;base64,' + user.profileImage.image : '../../assets/icons/icone_principal.png'">
        </div>
        <!-- Botão Quando Autenticado -->

    </div>
</nav>