<div *ngIf="establishment"  id="establishment">
    <div class="container">
        <div class="block">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="header">
                        <div class="title">{{ establishment.restaurantName }}</div>
                        <div class="address">{{ establishment.address.address }}, {{establishment.address.restaurantNumber }}</div>
                        <div class="capacity">Lotação atual {{ establishment.actualNumberOfPeople }}/{{ establishment.maxNumberOfPeople }}</div>
                    </div>
                    <div class="calendar">
                        <h3 class="title">Escolher Data</h3>
                        <div>
                            <bs-datepicker-inline [minDate]="minDate" (useUtc)="true" [bsValue]="bsInlineValue"
                                (bsValueChange)="makeReservation($event)"></bs-datepicker-inline>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-1"></div>
                <div class="d-none d-md-flex align-items-center col-md-6 col-lg-7">
                    <div class="carousel-lg">
                        <div class="img-principal">
                            <img class="w-100 h-100" [src]="'data:image/png;base64,' + images[indexImages]" alt="">
                            <a (click)="rotate(true)" class="button left">
                                <img src="../../../assets/icons/svg/arrow-left.svg">
                            </a>
                            <a (click)="rotate()" class="button right">
                                <img src="../../../assets/icons/svg/arrow-right.svg">
                            </a>
                        </div>
                        <div class="img-1">
                            <img class="w-100 h-100" [src]="'data:image/png;base64,' + images[indexImages+1]" alt="">
                        </div>
                        <div class="img-2">
                            <img class="w-100 h-100" [src]="'data:image/png;base64,' + images[indexImages+2]" alt="">
                        </div>
                        <div class="img-3">
                            <img class="w-100 h-100" [src]="'data:image/png;base64,' + images[indexImages+3]" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="topic">
                    <h3 class="title">Horário de Funcionamento</h3>
                    <div *ngFor="let day of datesWork" class="text">
                        {{ day.day }} das {{ day.openingTime }} às {{ day.closingTime }}
                    </div>
                </div>
                <div class="topic">
                    <h3 class="title">Sobre o Estabelecimento</h3>
                    <div class="text">
                        {{ establishment.description }}
                    </div>
                </div>
                <div class="topic">
                    <h3 class="title">Formas de Pagamento</h3>
                    <div class="text">
                        {{ establishment.payment }}
                    </div>
                </div>
                <div class="topic">
                    <h3 class="title">Falar com Estabelecimento</h3>
                    <div class="text">
                        Telefone: ({{ establishment.phoneNumber.slice(0,2) }}) {{ establishment.phoneNumber.slice(2) }}
                    </div>
                </div>
                <div class="topic">
                    <h3 class="title">Protocolo de Saúde</h3>
                    <ul *ngIf="establishment?.cleaning">
                        <li class="text" *ngFor="let protocol of establishment.cleaning.split(',')">{{ protocol }}</li>
                    </ul>
                </div>
                <div class="topic">
                    <h3 class="title">Avaliações</h3>
                    <div class="text"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!establishment" class="gif">
    <div class="spinner-border text-dark" role="status">
    </div>
</div>