@font-face {
    font-family: Mulish;
    src: url(./Mulish/Mulish-Regular.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: url(./Mulish/Mulish-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Mulish;
    src: url(./Mulish/Mulish-Italic.ttf) format("truetype");
    font-style: italic;
}
