<div *ngIf="zoneResponse?.topRated?.length > 1">

    <!-- Componente de estabelecimentos com melhores avaliações -->
    <top-rated [param]="zoneResponse.zoneName" [carouselElements]="zoneResponse.topRated"></top-rated>
    <!-- Componente de estabelecimentos com melhores avaliações -->
    
    <!-- Filtros inativos -->
    <div class="filtro">    
        <span class="text-muted">Filtrar por:</span>
            <button class="btn btn btn-sm">Pontuações</button>
            <button class="btn btn btn-sm">Promoções</button>
            <button class="btn btn btn-sm">Avaliações</button>
            <button class="btn btn btn-sm">Todos</button>
    </div>
    <!-- Filtros inativos -->

    <!-- Componente de lista de estabelecimentos -->
    <div>
        <establishment-list [param]="zoneResponse.zoneName" [zone]="zoneResponse"></establishment-list>
    </div>
    <!-- Componente de lista de estabelecimentos -->
    
</div>


<div *ngIf="zoneResponse?.topRated?.length < 1" class="gif">
    <div class="spinner-border text-dark" role="status">
    </div>
</div>